.searchbar {
    width: 80%;
    display: inline-block;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

#searchterm {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.current {
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
}

#do {
    color: #FFE600;
}

.news {
    font-weight: bold;
}

#popular {
    width: 80%;
    background-color: #FFE600;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    border: 0 none;
}

#productpicture{
    width: 100%;
}

.part{
    padding-top: 38%;
    position: relative;
}

@media screen and (max-width:766px) {
    .part{
        position: relative;
        padding-top: 110%;
    }
}

.product-item {
    text-align: center;
    padding: 20px 0;
    margin: 20px 0;
    font-size: 25px;
    border: 4px solid #9c9c9c;
    border-radius: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position:absolute ;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
}

.product-item:hover {
    border: 6px solid #b1a642;
}

.product-item>img {
    max-width: 70%;
    height: auto;
}

.link-product {
    text-decoration: none;
    color: inherit;
}

.link-product:hover {
    color: inherit;
}