#formular {
	display: table;
    margin: auto;
}
#registrieren {
	display: table;
    margin: auto;
}

#logintext {
	text-align: center;
}

#password {
	height: 20px;
	padding-top:5px;
	padding-left: 10px;
	font-size: 14px;
	border: 1px solid #000;
	background-color: #FFFFCC;
}

#name {
	height: 20px;
	padding-top:5px;
	padding-left: 10px;
	font-size: 14px;
	border: 1px solid #000;
	background-color: #FFFFCC;
}

button {
   font-size: 1.3em; padding: 5px 12px; 
   font-family: Roboto, sans-serif;
   font-weight: 300;
   color: rgb(207, 204, 34);
   border: 1px solid silver;
   background-image: linear-gradient(to top, gainsboro 0%, white 90%);
   border-radius: 20px
}