/*#formular {
	display: table;
    margin: auto;
}
#registrieren {
	display: table;
    margin: auto;
}*/

#logintext {
    text-align: center;
}




button {
    background-color: #FFE600 !important;
    color: #000 !important;
}


#logo2 {
    width: 200px;
    height: 80px;
    padding-top: 5px;
}