.content {
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    text-align: center;
}

#picture {
    max-width: 100%;
    height: auto;
}

#seperator {
    background-color: #FFE600;
    margin-left: 10%;
    margin-right: 10%;
    height: 2px;
    border: 0 none;
}

#picturetext {
    font-size: 30px;
}