* {
    padding: 0;
    margin: 0
}

.producttitel {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 70px;
    font-weight: bold;
    padding-top: 25px;
}

.productpicture {
    grid-area: picture;
    text-align: center;
    padding: 20px 0;
}

#productpicture {
    max-height: 400px;
}

.productdescription {
    grid-area: description;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.price {
    grid-area: price;
    text-align: right;
    padding: 20px 0;
    font-size: 30px;
}

.tags {
    grid-area: tags;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.retailer {
    grid-area: retailer;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.rating {
    padding: 12px 0;
    font-size: 30px;
    grid-area: rating;
    text-align: center;
}

#product {
    width: 80%;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
}

.grid-master {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
        'picture picture description description'
        'picture picture description description'
        'picture picture description description'
        'picture picture description description'
        'retailer rating tags price';
}

.rating {
    padding: 12px 0;
    font-size: 30px;
    grid-area: rating;
    text-align: center;
}

#comments {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%;
    padding: 12px 20px;
    border: 1px solid grey;
    border-radius: 25px;
}

.username {
    grid-area: user;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
    font-weight: bold;
}

.commenttext {
    grid-area: kommentar;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
}

.rating {
    grid-area: rating;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
        'user placeholder placeholder rating'
        'kommentar kommentar kommentar kommentar'
        'kommentar kommentar kommentar kommentar';
}

hr {
    width: 85%;
    background-color: #FFE600;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    border: 0 none;
}

#cartbutton {
    background-color: #FFE600;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    float: inline-block;
    margin-left: 74%;
    margin-right: 10%;
}

#buttontext {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}