#tableheadline{
    width: 100%;
    margin-top: 30px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.test{
    font-size: 50px;
}

#table{
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

img{
    max-width: 20vh;
    height: auto;
}

#table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFE600;
    color: black;
    border: 2px solid #FFFFFF;
    font-weight: bold;

}

td {
    border-right: 2px solid #FFE600;
    border-top: 2px solid #FFE600;
    padding-left: 5px;
}

.outer{
    border-right: none;
}

#picture {
    max-width: 20%;
    padding-left: 5px;
}

#name {
    width:15%;
    padding-left: 5px;
}

#description {
    width:auto;
    padding-left: 5px;
}

#price {
    width: 15%;
    padding-left: 5px;
}

#descriptionexpanded{
    width:auto;
    padding-left: 5px;
}

#profit{
    width: 15%;
    padding-left: 5px;
}

button {
    font-size: 1.3em; padding: 5px 12px; 
    font-family: Roboto, sans-serif;
    font-weight: 300;
    border: 1px solid #FFE600;
    background-color: #FFE600;
    border-radius: 20px;
    display: table;
    margin: auto;
    margin-top: 10px;
    color: #000 !important;
}

#userdaten {
    margin-left: 5%;
    margin-top: 50px;
    border: 2px solid black;

}

#pictureatm {
    width: 20%;
    padding-left: 5px;
}

#nameatm {
    width:15%;
    padding-left: 5px;
}

#descriptionatm {
    width:auto;
    padding-left: 5px;
}

#priceatm {
    width: 15%;
    padding-left: 5px;
}

#useratm {
    width:30%;
    padding-left: 5px;
}

#usernamenatm {
    width: 30%;
    padding-left: 5px;
}

#emailatm {
    width: 30%;
    padding-left: 5px;
}

#edit {
    width: 10%;
    padding-left: 5px;
}

.kind{
    font-weight: bold;
}

#userdata{
    margin-left: auto;
    margin-right: 0;
}

#display{
    padding: 5px;
}