#tableheadline {
    width: 100%;
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
}


.test {
    font-size: 50px;
}

#table {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img {
    max-width: 50%;
    height: auto;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFE600;
    color: black;
    border: 2px solid #FFFFFF;
    font-weight: bold;
    word-wrap: break-word;
}

#table td {
    word-wrap: break-word;
}

td {
    border-right: 2px solid #FFE600;
    border-top: 2px solid #FFE600;
    padding-left: 3px;
}

.outer {
    border-right: none;
}

#picture {
    max-width: 20%;
    padding-left: 3px;
}

.picture {
    max-height: 150px;
    padding-left: 3px;
}

#name {
    width: 15%;
    padding-left: 3px;
}

#description {
    width: auto;
    padding-left: 3px;
}

#price {
    width: 15%;
    padding-left: 3px;
}

#descriptionexpanded {
    width: auto;
    padding-left: 3px;
}

#profit {
    width: 15%;
    padding-left: 3px;
}

.btn {
    font-size: 1.3em;
    padding: 5px 12px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    border: 1px solid #FFE600;
    background-color: #FFE600;
    border-radius: 20px;
    display: table;
    margin: auto;
    margin-top: 10px;
    color: #000 !important;
}

#userdaten {
    margin-left: 5%;
    margin-top: 50px;
    border: 2px solid black;

}

#pictureadm {
    max-width: 50%;
    padding-left: 3px;
}

#nameadm {
    width: 15%;
    padding-left: 3px;
}

#priceadm {
    width: 15%;
    padding-left: 3px;
}

#useradm {
    width: 30%;
    padding-left: 3px;
}

#usernamenadm {
    width: 30%;
    padding-left: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#emailadm {
    width: 30%;
    padding-left: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#edit {
    width: 5%;
    padding-left: 3px;
}

.kind {
    font-weight: bold;
}

#userdata {
    margin-left: auto;
    margin-right: 0;
}

#display {
    padding: 3px;
}